<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="eclipse Mars" sequenceNumber="123">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2022-06/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
  <unit id="org.eclipse.swt" version="0.0.0"/>
  <unit id="org.eclipse.swt.win32.win32.x86_64" version="0.0.0"/>
  <unit id="org.eclipse.swt.gtk.linux.x86_64" version="0.0.0"/>
  <repository location="https://download.eclipse.org/eclipse/updates/4.28-I-builds/"/>
</location>    

</locations>
  <environment>
    <arch>x86_64</arch>
  </environment>
</target>
